{% extends 'base.html' %}

{% block title %}
<title>Create Tracker</title>
{% endblock %}

{% block content %}
<h1>Create tracker</h1>
<form class="ui form" action="{% url 'profile' %}" method="POST">
  <h4 class="ui dividing header">
    Create Tracker
  </h4>
  {% csrf_token %}
  <div class="fields">
    <div class="seven wide field">
      <label for="name">Title</label>
      {{tracker_form.title}}
    </div>
    <div class="seven wide field">
      <label for="status">Interest Check or Group Buy</label>
      {{tracker_form.interest_type}}
    </div>
    {{tracker_form.date}}
  </div>

  <div class="fields">
    <div class="field">
      <label for="description">Description</label>
      {{tracker_form.description}}
    </div>
  </div>

  <input class="ui teal button" type="submit" value="Add Tracker">
  <input type="hidden" name="next" value={{next}}>
</form>
{% endblock %}