{% extends 'base.html' %}

{% block title %}
<title>Edit Tracker</title>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" action="{% url 'edit_tracker' tracker.id %}" method="POST">
    <h4 class="ui dividing header">
      Edit Tracker
    </h4>
    {% csrf_token %}
  <div class="fields">
    <div class="seven wide field">
      <label for="name">Title</label>
      {{edit_tracker.title}}
    </div>
    <div class="seven wide field">
      <label for="status">Interest Check or Group Buy</label>
      {{edit_tracker.interest_type}}
    </div>
    <div class="seven wide field">
      <label for="date">Interest Check Date/Group Buy Start Date</label>
      {{edit_tracker.date}}
    </div>

  </div>

  <div class="fields">
    <div class="field">
      <label for="description">Description</label>
      {{edit_tracker.description}}
    </div>
  </div>

  <input class="ui teal button" type="submit" value="Update Tracker">
  <input type="hidden" name="next" value={{next}}>
  </form>
</div>
{% endblock %}