{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">


  {% block title%}
  <!-- Title goes here -->
  {% endblock %}
</head>

<body>
  <div class="ui menu">
    <div class="header item">
      <i class="keyboard outline icon"></i>
    </div>
    <div class="right menu">
      <a class="item">
        Discover Parts
      </a>
      <a class="item">
        Tips
      </a>

      {% if user.is_authenticated %}
      <a class="item" href="{% url 'profile' %}">
        Profile
      </a>
      <a class="item" href="{% url 'logout' %}">
        Sign out
      </a>
      {% else %}
      <a class="item" id="sign-in">
        Sign in
      </a>
      <a class="item" id="sign-up">
        Sign up
      </a>
      {% endif %}
    </div>
  </div>

  <!-- log in/sign up modal -->
  <div class="ui modal" id="signup-form">
    <i class="close icon"></i>
    <div class="header">
      Sign In
    </div>
    <div>
      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="actions">
          <input class="btn" type="submit" value="Signup">
          <input type="hidden" name="next" value={{next}}>
        </div>
    </div>
    </form>
  </div>


  {% block content %}
  <!-- Content goes here -->
  {% endblock%}

  <footer>
    this is the footer
  </footer>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <script src="{% static 'scripts/base.js' %}"></script>
</body>

</html>