{% extends 'base.html' %}

{% block title %}
<title>Discover</title>
{% endblock %}

{% block content %}
<h1>Discover parts</h1>

<div class="discover">
  <!-- Cases -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'cases' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img src="{{cases.first.image}}" alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'cases' %}" class="header">View Cases</a>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'switches' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img src="{{switches.first.image}}" alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'switches' %}" class="header">View Switches</a>
      </div>
    </div>
  </div>

  <!-- Keycaps -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'keycaps' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img src="{{keycaps.first.image}}" alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'keycaps' %}" class="header">View Keycaps</a>
      </div>
    </div>
  </div>

  <!-- Stabilizers -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'stabilizers' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img src="{{stabilizers.first.image}}" alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'stabilizers' %}" class="header">View Stabilizers</a>
      </div>
    </div>
  </div>

  <!-- PCBs -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'pcbs' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img src="{{pcbs.first.image}}" alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'pcbs' %}" class="header">View PCBs</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}