{% extends 'base.html' %}

{% block title %}
<title>Discover</title>
{% endblock %}

{% block content %}
<h1>Discover parts</h1>

<!-- Cases -->
<div>
  <h2>Cases</h2>
  {% for case in cases %}
  <a href="">
    <div>
      {{case.name}}
    </div>
  </a>
  {% endfor %}
  <a href="{% url 'cases' %}">See more...</a>
</div>

<!-- Switches -->
<div>
  <h2>Switches</h2>
  {% for switch in switches %}
  <a href="">
    <div>
      {{switch.name}}
    </div>
  </a>
  {% endfor %}
  <a href="{% url 'switches' %}">See more...</a>
</div>

<!-- Keycaps -->
<div>
  <h2>Keycaps</h2>
  {% for keycap in keycaps %}
  <a href="">
    <div>
      {{keycap.name}}
    </div>
  </a>
  {% endfor %}
  <a href="{% url 'keycaps' %}">See more...</a>
</div>

<!-- Stabilizers -->
<div>
  <h2>Stabilizers</h2>
  {% for stabilizer in stabilizers %}
  <a href="">
    <div>
      {{stabilizer.name}}
    </div>
  </a>
  {% endfor %}
  <a href="{% url 'stabilizers' %}">See more...</a>
</div>

<!-- PCBs -->
<div>
  <h2>PCBs</h2>
  {% for pcb in pcbs %}
  <a href="">
    <div>
      {{pcb.name}}
    </div>
  </a>
  {% endfor %}
  <a href="{% url 'pcbs' %}">See more...</a>
</div>

{% endblock %}