{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}
<h1>Welcome!</h1>
<h2>How it works...</h2>
<p>Please create a keyboard with its name, status, and description.  Aftewards, please edit it with the options provided!</p>

<a class="ui teal button" href="{% url 'create_keyboard' %}">Create keyboard</a>

<h3>Owned Keyboards</h3>
<div class="owned-keyboards">
  {% for keyboard in keyboards %}
    {% if keyboard.status == 'O' %}
      <a href="{% url 'show' keyboard.id %}">{{keyboard.name}}</a>
      <br>
    {% endif %}
  {% endfor %}
</div>

<h3>Dream Keyboards</h3>
<div class="dream-keyboards">
  {% for keyboard in keyboards %}
    {% if keyboard.status == 'B' %}
     <a href="{% url 'show' keyboard.id %}">{{keyboard.name}}</a>
     {{keyboard}}
     <br>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}