body {
  background-color: #F0F0F0;
  text-align: center;
  font-size: 15px;
}

.error {
  color: red;
}

.ui.menu {
  margin: 0;
}

.home {
  opacity: 50%;
  padding: 0;
}

.keyboard.outline.icon {
  font-size: 35px;
}

.logo {
  color: #888888;
}
.logo:hover {
  color: #706C61;
}

.intro {
  position: absolute;
  top: 35%;
  left: 26%;
  background-color: rgba(224, 224, 224, 0.8);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.ui.menu {
  background-color: #FFE8DF;
}
.ui.menu .item {
  color: #888888;
}

.footer {
  background-color: #888888;
  color: white;
  text-align: center;
  position: relative;
  padding: 10px;
  bottom: 0;
}

hr {
  border: 2px solid #84A9AC;
}

.ui.teal.button {
  background-color: #3B6978;
}

.ui.teal.button:hover {
  background-color: #84A9AC;
}

.ui.modal {
  width: 300px;
  height: 500px;
  text-align: center;
}

.ui.modal .header {
  color: #888888;
}

.modal-body {
  padding: 10px;
  margin: 5px;
}

.ui.modal.login {
  width: 300px;
  height: 250px;
}

.modal-body input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.ui.input {
  margin: 5px;
}

.label {
  color: #204051;
}

.ui.special.cards {
  padding: 5px;
  margin: 10px;
}

.ui.cards>.card>.content{
  background-color: #E1F4F3;
}

.ui.definition.table{
  width: 750px;
  margin: 0 auto;
}

.ui.definition.table a {
  color: #204051;
}

.ui.definition.table tr td:first-child:not(.ignored) {
  background-color: #FFE8DF;
  color: #706C61;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.ui.form {
  padding: 10px;
  margin: 15px;
}

.fields {
  justify-content: center;
}

.ui.form textarea {
  width: 800px;
}

.ui.header:first-child  {
  padding-top: 20px;
}

.discover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ui.raised.segment {
  width: 800px;
  justify-content: center;
  margin: 15px auto;
}

.show-container {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.show-container>.info {
  padding-left: 25px;
  color: #333333;
  width: 400px;
  text-align: left;
}

.info>label{
  padding: 5px;
}

.ui.list> a.item{
  color: #204051;
  font-size: 15px;
}

.ui.segment {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tools {
  width: 900px;
  margin: 0 auto;
}
.tool{
  width: 33%;
}
.videos{
  width: 900px;
  margin: 0 auto;
}

.ui.modal.create {
  width: 500px;
  height: 600px;
}

.ui.form.create{
  padding: 0;
  margin: 0;
}
.ui.form.create textarea{
  width: 400px;
  height: 100px;
}