body {
  background-color: #F0F0F0;
}

img {
  opacity: 50%;
}

.keyboard.outline.icon {
  font-size: 35px;
}

.logo {
  color: #888888;
}
.logo:hover {
  color: #706C61;
}

.intro {
  position: absolute;
  top: 35%;
  left: 26%;
  background-color: rgba(224, 224, 224, 0.8);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.ui.menu {
  background-color: #FFE8DF;
}
.ui.menu .item {
  color: #888888;
}

footer {
  background-color: #888888;
  color: white;
  text-align: center;
  position: relative;
  padding: 10px;
}

hr {
  border: 2px solid #84A9AC;
}

.ui.modal {
  width: 300px;
  height: 500px;
  text-align: center;
}

.ui.modal .header {
  color: #888888;
}

.modal-body {
  padding: 10px;
  margin: 5px;
}

.ui.modal.login {
  width: 300px;
  height: 250px;
}

.modal-body input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.label {
  color: #204051;
}