{% extends 'base.html' %}

{% block title %}
<title>Discover</title>
{% endblock %}

{% block content %}
<h1 class="ui dividing header">Discover Parts</h1>

<div class="discover">
  <!-- Cases -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'cases' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/1473/3902/products/5689ad8cf382a0b5e30109095f2c5cb5_ae04fd20-1f0c-490a-8860-56dec4cce43a_1800x1800.jpg?v=1584436794"
          alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'cases' %}" class="header">View Cases</a>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'switches' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img
          src="https://ae01.alicdn.com/kf/HTB1dqOsB8yWBuNkSmFPq6xguVXaG/8-Pcs-Original-Cherry-Mx-Switch-Mechanical-Keyboard-Switch-Silver-Mx-Brown-Blue-Red-Switch-3.jpg"
          alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'switches' %}" class="header">View Switches</a>
      </div>
    </div>
  </div>

  <!-- Keycaps -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'keycaps' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img
          src="https://massdrop-s3.imgix.net/product-images/npkc-gradient-keycap-set/MD_71364_20181018_192812.png?bg=f0f0f0"
          alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'keycaps' %}" class="header">View Keycaps</a>
      </div>
    </div>
  </div>

  <!-- Stabilizers -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'stabilizers' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/1473/3902/products/4_9324bfd0-c419-47de-b077-8976f8a834f6_1800x1800.jpg?v=1592208661"
          alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'stabilizers' %}" class="header">View Stabilizers</a>
      </div>
    </div>
  </div>

  <!-- PCBs -->
  <div class="ui special cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="{% url 'pcbs' %}" class="ui inverted button">View</a>
            </div>
          </div>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/1473/3902/products/4_3ad41621-001d-4072-83fa-2bad1e001a72_1800x1800.jpg?v=1588233689"
          alt="" srcset="">
      </div>
      <div class="content">
        <a href="{% url 'pcbs' %}" class="header">View PCBs</a>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <h1 class="ui dividing header">Discover Companies</h1>
      <div class="ui list">
        <a href="https://www.kbdfans.com" target="_blank" class="item">KBD Fans</a>
        <a href="https://thekey.company/" target="_blank" class="item">TheKey.Company</a>
        <a href="https://cannonkeys.com/" target="_blank" class="item">Cannon Keys</a>
        <a href="https://dixiemech.com/" target="_blank" class="item">Dixie Mech</a>
        <a href="https://drop.com/" target="_blank" class="item">Drop</a>
      </div>
      
    </div>

    <div class="column">
      <h1 class="ui dividing header">Discover Communities</h1>
      <div class="ui list">
        <a href="https://geekhack.org/" target="_blank" class="item">Geekhack</a>
        <a href="https://www.reddit.com/r/MechanicalKeyboards/" target="_blank" class="item">r/MechanicalKeyboards</a>
        <a href="https://www.reddit.com/r/mechmarket/" target="_blank" class="item">r/mechmarket</a>
        <a href="https://ckeys.org/" target="_blank" class="item">ckeys (Seattle)</a>
        <a href="https://discord.com/invite/QMHNb4U" target="_blank" class="item">Cute Keyboard Club (Discord)</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}