{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div>
  <h1 class="ui dividing header">Welcome!</h1>
  <h2>How it works...</h2>
  <p>Please create a keyboard with its name, status, and description. Afterwards, please edit it with the options provided!
  <p>Read up on all parts listed <a href="{% url 'discover' %}">here.</a></p>
  </p>

  <a class="ui teal button" href="{% url 'create_keyboard' %}">Create keyboard</a>

  <!-- Owned keyboards -->
  <h4 class="ui horizontal divider header">
    <i class="keyboard outline icon"></i>
    Owned Keyboards
  </h4>
  <div class="ui special cards">
    {% for keyboard in keyboards %}
    {% if keyboard.status == 'O' %}
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center ui two buttons">
              <a href="{% url 'show' keyboard.id %}" class="ui inverted button">View</a>
              <a href="{% url 'edit_keyboard' keyboard.id %}" class="ui inverted button">Edit</a>
            </div>
          </div>
        </div>
        {% if keyboard.keycap.first %}
        <img src="{{keyboard.keycap.first.image}}" alt="" srcset="">
        {% else %}
        <img
          src="https://assets3.razerzone.com/xpQLMA117pPRYZvkU17ddE-vLLk=/767x511/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fhe1%2Fh98%2F9011301384222%2Frazer-pbt-keycap-upgrade-set-mercury-white-gallery-hero-1500x1000.jpg"
          alt="" srcset="">
        {% endif %}
      </div>
      <div class="content">
        <a href="{% url 'show' keyboard.id %}" class="header">{{keyboard.name}}</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Dream Keyboards -->
  <h4 class="ui horizontal divider header">
    <i class="keyboard outline icon"></i>
    Dream Keyboards
  </h4>
  <div class="ui special cards">
    {% for keyboard in keyboards %}
    {% if keyboard.status == 'B' %}
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="center ui two buttons">
                <a href="{% url 'show' keyboard.id %}" class="ui inverted button">View</a>
                <a href="{% url 'edit_keyboard' keyboard.id %}" class="ui inverted button">Edit</a>
              </div>
            </div>
          </div>
        </div>
        {% if keyboard.keycap.first %}
        <img src="{{keyboard.keycap.first.image}}" alt="" srcset="">
        {% else %}
        <img
          src="https://assets3.razerzone.com/xpQLMA117pPRYZvkU17ddE-vLLk=/767x511/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fhe1%2Fh98%2F9011301384222%2Frazer-pbt-keycap-upgrade-set-mercury-white-gallery-hero-1500x1000.jpg"
          alt="" srcset="">
        {% endif %}
      </div>
      <div class="content">
        <a href="{% url 'show' keyboard.id %}" class="header">{{keyboard.name}}</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- IC/GB tracker -->
  <div class="tracker">
    <h4 class="ui horizontal divider header">
      <i class="keyboard outline icon"></i>
      Track Interest Checks or Group Buy
    </h4>
    <a class="ui teal button" href="{% url 'create_tracker' %}">Create Tracker</a>
    <div class="ui segment">
      <div class="ui two column very relaxed grid">
        <div class="column">
          <h3>Interest Checks</h3>
          <div class="ui accordion">
            {% for tracker in trackers %}
            {% if tracker.interest_type == "IC" %}
            <div class="title">
              <i class="dropdown icon"></i>
              <b>{{tracker.title}}</b>
            </div>
            <div class="content">
              <p class="transition hidden">
                <b class="accordion-labels">Interest Check Date:</b> <br>
                {{tracker.date}}
                <br>
                <b>Description:</b> <br>
                {{tracker.description}}
              </p>
              <div class="buttons">
                <a href="{% url 'edit_tracker' tracker.id %}" class="ui teal button">Edit</a>
                <form action="{% url 'delete_tracker' tracker.id %}" method="POST">
                  {% csrf_token %}
                  <button class="ui teal button" type="submit">Delete</button>
                </form>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="column">
          <h3>Group Buys</h3>
          <div class="ui accordion">
            {% for tracker in trackers %}
            {% if tracker.interest_type == "GB" %}
            <div class="title">
              <i class="dropdown icon"></i>
              <b>{{tracker.title}}</b>
            </div>
            <div class="content">
              <p class="transition hidden">
                <b class="accordion-labels">Group Buy Start Date:</b> <br>
                {{tracker.date}}
                <br>
                <b>Description:</b> <br>
                {{tracker.description}}
              </p>
              <div class="buttons">
                <a href="{% url 'edit_tracker' tracker.id %}" class="ui teal button">Edit</a>
                <form action="{% url 'delete_tracker' tracker.id %}" method="POST">
                  {% csrf_token %}
                  <button class="ui teal button" type="submit">Delete</button>
                </form>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="ui vertical divider">
        or
      </div>
    </div>
  </div>
</div>
{% endblock %}