{% extends 'base.html' %}

{% block title %}
<title>Cases</title>
{% endblock %}

{% block content %}
  <h1 class="ui dividing header">Cases</h1>

  {% for case in cases %}
  <div class="ui raised segment">
    <a href="{% url 'case' case.id %}">
      <h3 class="ui left floated header">{{case.name}}</h3>
      <div class="ui clearing divider"></div>
      <div class="show-container">
        <div class="image">
          <img src="{{case.image}}" alt="" class="ui medium image">
        </div>
        <div class="info">
          <label for="form_type">
            <h4>Form type:</h4>
          </label>
          {%if case.form_type == '40' %}
          40%
          {% elif case.form_type == '60'%}
          60%
          {% elif case.form_type == '65'%}
          65%
          {% elif case.form_type == '75'%}
          75%
          {% elif case.form_type == '10'%}
          Full Size
          {% elif case.form_type == 'OR'%}
          Ortholinear
          {% elif case.form_type == 'ER'%}
          Ergonomic
          {% elif case.form_type == 'DE'%}
          Default
          {% endif %} <br>
          <label for="material">
            <h4>Material:</h4>
          </label>{{case.material}} <br>
          <label for="description">
            <h4>Description:</h4>
          </label>{{case.description}}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}

  <div class="ui raised segment">
    <h3 class="ui left floated header">Don't see the part you are looking for?</h3>
    <div class="ui clearing divider"></div>
    <a class="ui teal button"id="create-case">Add Part</a>
  </div>

  <!-- modal -->
  <div class="ui modal create" id="create-case-form">
    <i class="close icon"></i>
    <div class="header">
      Create Part
    </div>
    <div class="modal-body">
      <form class="ui form create" action="{% url 'create_case' %}" method="POST">
        <p>Please enter a valid URL for the image field!</p>
        {% csrf_token %}
        {% for field in case_form %}
        <b class="add-part">{{field.label}}</b>
        <br>
        <div class="ui input">
          {{field }}
        </div>
        <br>
        {% endfor %}
        <div class="actions">
          <input class="ui teal button" type="submit" value="Create">
          <input type="hidden" name="next" value={{next}}>
        </div>
    </div>
    </form>
  </div>
{% endblock %}