{% extends 'base.html' %}

{% block title %}
<title>{{keyboard.name}} Page</title>
{% endblock %}

{% block content %}
<div>
  <h1 class="ui dividing header">
    {{keyboard.name}}
  </h1>


  <div class="ui small images">
    <img src="{{keyboard.case.first.image}}" alt="" srcset="">
    <img src="{{keyboard.switch.first.image}}" alt="" srcset="">
    <img src="{{keyboard.pcb.first.image}}" alt="" srcset="">
    <img src="{{keyboard.stabilizer.first.image}}" alt="" srcset="">
    <img src="{{keyboard.keycap.first.image}}" alt="" srcset="">
  </div>

  <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Description
  </h4>
  <p>{{keyboard.description}}</p>

  <h4 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Specifications
  </h4>

  <table class="ui definition table">
    <tbody>
      <tr>
        <td class="two wide column">Case:</td>
        <td><a href="{% url 'case' keyboard.case.first.id %}">{{keyboard.case.first}}</a></td>
      </tr>
      <tr>
        <td class="two wide column">Switch:</td>
        <td><a href="{% url 'switch' keyboard.switch.first.id %}">{{keyboard.switch.first}}</a></td>
      </tr>
      <tr>
        <td class="two wide column">PCB:</td>
        <td><a href="{% url 'pcb' keyboard.pcb.first.id %}">{{keyboard.pcb.first}}</a></td>
      </tr>
      <tr>
        <td class="two wide column">Stabilizer:</td>
        <td><a href="{% url 'stabilizer' keyboard.stabilizer.first.id %}">{{keyboard.stabilizer.first}}</a></td>
      </tr>
      <tr>
        <td class="two wide column">Keycap:</td>
        <td><a href="{% url 'keycap' keyboard.keycap.first.id %}">{{keyboard.keycap.first}}</a></td>
      </tr>
    </tbody>
  </table>

  <div class="buttons">
    <div>
      <a class="ui teal button" href="{% url 'profile' %}">Go Back</a>
    </div>
    <div>
      <a class="ui teal button" href="{% url 'edit_keyboard' keyboard.id %}">Edit</a>
    </div>
    <div>
      <a class="ui teal button" id="delete-confirm">Delete</a>
    </div>
  </div>

  <!-- delete confirmation modal -->
  <div class="ui modal delete" id="delete">
    <i class="close icon"></i>
    <div class="header">
      Are you sure you want to delete?
    </div>
    <div class="modal-body">
      <form action="{% url 'keyboard_delete' keyboard.id %}" method="POST">
        {% csrf_token %}
        <button class="ui teal button" type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}