{% extends 'base.html' %}

{% block title %}
<title>{{keyboard.name}} Page</title>
{% endblock %}

{% block content %}
<h1>{{keyboard.name}}</h1>

<div class="ui small images">
  <img src="{{keyboard.case.first.image}}" alt="" srcset="">
  <img src="{{keyboard.switch.first.image}}" alt="" srcset="">
  <img src="{{keyboard.pcb.first.image}}" alt="" srcset="">
  <img src="{{keyboard.stabilizer.first.image}}" alt="" srcset="">
  <img src="{{keyboard.keycap.first.image}}" alt="" srcset="">
</div>

<p>Case: {{keyboard.case.first}}</p>
<p>Switch: {{keyboard.switch.first}}</p>
<p>PCB: {{keyboard.pcb.first}}</p>
<p>Stabilizer: {{keyboard.stabilizer.first}}</p>
<p>Keycaps: {{keyboard.keycap.first}}</p>

<p>Description: {{keyboard.description}}</p>

<a class="ui teal button" href="{% url 'edit_keyboard' keyboard.id %}">Edit</a>

<form action="{% url 'keyboard_delete' keyboard.id %}" method="POST">
  {% csrf_token %}
  <button class="ui teal button" type="submit">Delete</button>
</form>
{% endblock %}